@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

@{
    const string placeholderKeyPrefix = "f0rm-container";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, 1);
}

<div @Html.Sxa().Component("fancy-container")>
    <div class="component-content">
        @Html.Sitecore().Placeholder(key)
    </div>
</div>