@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

<div @Html.Sxa().Component("submit")>
    <div class="component-content">
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            @Html.Sxa().Field("Label", Model.Item, Model.GetRenderingWebEditingParams())
        }
        else
        {
            <input id="@Model.Item.ID" type="submit" class="submitButton" value="@Model.Item.Fields["Label"].Value" />
        }
    </div>
</div>