
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase
    
<div class="senderror" style="display: none;">
    @Html.Sxa().Field("errorMessage", Model.Item, Model.GetRenderingWebEditingParams())
</div>