
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

<div class="sendsuccess" style="display: none;">
    @Html.Sxa().Field("successMessage", Model.Item, Model.GetRenderingWebEditingParams())
</div>