@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

@{
    bool mandatory = Model.Rendering.Parameters["mandatory"].Equals("1");
}

<label for="@Model.Item.ID">
    @Html.Sxa().Field("Label", Model.Item, Model.GetRenderingWebEditingParams())
</label>
@(mandatory ? Html.Raw("*") : Html.Raw(string.Empty))

