@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

<label for="@Model.Item.ID" key="@Model.Item["Key"]">
    @Html.Sxa().Field("Label", Model.Item, Model.GetRenderingWebEditingParams())
</label>
<b> @(ViewData["mandatory"].Equals("true") ? Html.Raw("*") : Html.Raw(string.Empty)) </b>


