<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Page Structure feature.

This feature structures the page by inserting columns, rows, and containers. 

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAccelerator>
      <dynamicPlaceholders>
        <dynamicPlaceholderRenderings>
          <rendering id="{D95C390D-1E51-4C5B-B9AF-1861774A7EA2}" name="FormContainer"/>
        </dynamicPlaceholderRenderings>
      </dynamicPlaceholders>
    </experienceAccelerator>
  </sitecore>
</configuration>

