@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

<div @Html.Sxa().Component("date-input") @Model.Attributes>
    <div class="component-content">
        <label for="@Model.Item.ID">@Html.Sxa().Field("Label", Model.Item, Model.GetRenderingWebEditingParams())</label>
        <input type="text" class="datepicker">
    </div>
</div>