.error{
	color: red;
	font-weight: bold;
}

.senderror{
	color: red;
	font-weight: bold;
}

.sendsuccess{
	color: green;
	font-weight: bold;
}

.inline {
	display: inline;
}

.submitButton{
	width: 100%;
}