<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor type="Hackathon.Sitecore.Triumvirate.Foundation.Mail.Pipelines.RegisterServices,  Hackathon.Sitecore.Triumvirate.Foundation.Mail" />
      </ioc>
    </pipelines>
  </sitecore>
</configuration>